<html>
    <head>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/bootstrap_darkly.min.css">

        <title>Events analyser</title>
 		<!--<link rel="stylesheet" type="text/css" href="http://www.csszengarden.com/219/219.css?v=8may2013">-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        
        <script type="text/javascript" src="static/venn.js-0.2.14/venn.js"></script>
        <script type="text/javascript" charset="utf-8">

        // Count created events to assign ids 
        var group_counter = {}
        group_counter['a'] = 0
        group_counter['b'] = 0


        // 
        function parse_form(event_id) {
        	console.log('asked for id', event_id)

        	//var data = new FormData($("#" + event_id + " .event_form")[0]);
        	//var url = data.get('url')

        	var url = $('#' + event_id + ' input')[0].value
        
			var attending = $($("#"+event_id).find('.attending')[0]).hasClass('active')
			var maybe = $($("#"+event_id).find('.maybe')[0]).hasClass('active')
			var interested = $($("#"+event_id).find('.interested')[0]).hasClass('active')
			var noreply = $($("#"+event_id).find('.noreply')[0]).hasClass('active')

			console.log('attending: ' + attending)
			console.log('maybe: ' + maybe)
			console.log('interested: ' + interested)
			console.log('noreply: ' + noreply)

			is_valid = attending || maybe || interested || noreply

			var statuses = []
			if (attending){
				statuses.push('attending')
			}
			if (maybe){
				statuses.push('maybe')
			}
			if (interested){
				statuses.push('interested')
			}
			if (noreply){
				statuses.push('noreply')
			}

			var res = {'url': url, 'statuses': statuses}
			return res
        }

        function parse_forms() {
         	var global_res = {}

         	// Group A
         	var events = $($('#'+'a')[0]).find('.event')
         	global_res['a'] = []
         	for (i = 0; i < events.length; i++) { 
         		var id = events[i]['id']
			    global_res['a'].push(parse_form(id))
			}

			// Group B
         	var events = $($('#'+'b')[0]).find('.event')
         	global_res['b'] = []
         	for (i = 0; i < events.length; i++) { 
         		var id = events[i]['id']	
			    global_res['b'].push(parse_form(id))
			}

			return global_res
        }

        function display_result(res) {

        	$("#waiting").remove()
        	$("#results").show()

        	$("#a_size").text(res['a'])
        	$("#a_and_b_size").text(res['a_and_b'])
        	$("#b_size").text(res['b'])
        	console.log(res)

			var sets = [ {sets: ['Group A'], size: res['a']}, 
			             {sets: ['Group B'], size: res['b']},
			             {sets: ['Group A','Group B'], size: res['a_and_b']}];

			var chart = venn.VennDiagram()
			d3.select("#venn").datum(sets).call(chart);

        }

        function display_error(res) {
        	$("#waiting").remove()
        	$("#error").show()
        }

        function send_request(){
        	var url = "api/find_subgroup/"

        	var data = parse_forms()

        	$("#query").remove()
        	$("#waiting").show()

        	console.log('Sending data:', data)

        	$.ajax({
			  type: "POST",
			  url: url,
			  data: JSON.stringify(data),
			  success: display_result,
			  error: display_error,
			  contentType: "application/json"
			  //dataType: dataType
			});
        }

        function reload_page() {
        	location.reload(true)
        }

        // delete button on each form 
        // ping events for existing
        // validate individual forms: 
        // Go through all forms and validate each one
        // On click: hide form and show waiting
        
        function enable_dynamic(){

			$('body').on('click', '.cellClick', function(e) {
			    $(this).toggleClass("active");
			    e.preventDefault();
			});


			$('body').on('click', '.remove', function(e) {
			    var id = $(this).closest(".event").prop("id");
			    $("#" + id).remove()
			    console.log('Trying to remove', id)
			    e.preventDefault();
			});

			// Change cell color on click
		    //$(".cellClick").click(function(){
		    //    $(this).toggleClass("active");
		    //});

		    // Delete div on cross click
		    // $('.remove').click(function(){
		    //	var id = $(this).closest(".event").prop("id");
		    //	$("#" + id).remove()
		    //	console.log('Trying to remove', id)
        	//});

        }
		
        function add_event(group_id) {

			new_id = group_id + '_' + group_counter[group_id]

			contents = $('#template_event').html();
			copy = $('<div class="event" id="' + new_id + '"></div>');
			$('#' + group_id).append(copy.append(contents));
			group_counter[group_id] = group_counter[group_id] + 1

			// Focus on event
			$('#' + new_id + ' input')[0].focus();
        }

		$(document).ready(function(){

			
				$('#run').click(send_request)


				$('#add_event_a').click(function(){
					add_event('a')	
					// ENABLE DYNAMIC BEHAVIOR			
				})

				$('#add_event_b').click(function(){
					add_event('b')	
					// ENABLE DYNAMIC BEHAVIOR			
				})

				enable_dynamic()	



			});

        </script>

		<style type="text/css">
			.active {background-color: blue; font-weight:bold; color: #42f4b3}
			.event_form_tab {background-color: #343a38; padding:100px; border-radius:5px;}

			.cellClick:hover {background_color:blue; font-weight:bolder;  cursor: crosshair; color: #42f4b3;}
			.active:hover {background_color:blue; font-weight:normal;  cursor: crosshair}

.input--haruki {
	margin: 4em 1em 1em;
}

.input__field--haruki {
	padding: 0.4em 0.25em;
	width: 100%;
	background: transparent;
	color: #24cc8e;
	font-size: 1.2em;
}

.input__label-content--haruki {
	transition: transform 0.3s;
}

.input__label--haruki::before {
	top: 0;
}

.input__label--haruki::after {
	bottom: 0;
}

input::-webkit-input-placeholder {
	color: #aaffe7;
}

.btn-info {background-color: #343a38}


		</style>
    </head>

    <body>
		<!-- EVENT SELECTOR TEMPLATE -->
		<!-- https://stackoverflow.com/questions/6636622/create-element-from-template-element -->
		<template id='template_event'>

	      <button type="button" class="close remove" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
		  </button>

	      	<table class="table event_form_tab">
	      		<tbody>
		      		<tr>
		      			<td colspan="4" > 

		      			<!--
						  <div class="group">
						    <input type="text" name='url' required="required"/>
						    <label for="public url">FB event URL</label>
						    <div class="bar"></div>
						  </div>

						  <input type="url" style="box-sizing: border-box; width: 100%;" name="url" placeholder="URL of public facebook event">
						  -->
						  	<input type='url' class="input__field input__field--haruki" name="url" placeholder="URL of public facebook event">
		      				
		      			
		      			</td>
		      		</tr>
		      		<tr>
		      			<td class="cellClick attending" width="25%" > Attending </td>
		      			<td class="cellClick maybe" width="25%"> Maybe </td>
		      			<td class="cellClick interested" width="25%"> Interested </td>
		      			<td class="cellClick noreply" width="25%"> Just Invited </td>
 		      		</tr>
		      		</tbody>
	      	</table>

	    </template>

		
        <div class="jumbotron text-center">
		  <h1><a href='.'>FB Events compare</a></h1>
		  <p>Find common attendees in Facebok events</p> 

		</div>


		<!-- QUERY-->
		<div class="container text-center" id='query'>

		  <div class="row">

		  	<!-- GROUP A -->
		    <div class="col-sm-6 ">
		      <h3>Group A</h3>
		      <p>Define users of group A</p>

		      <div class="user_group" id='a'>

		    </div>


		      <div class="row">
		        <a href="#" class="btn btn-lg" id='add_event_a'>
          		  <span class="glyphicon glyphicon-plus-sign"></span> Add fb event to group A
        		</a>
			  </div>
			
			</div>

			<!-- GROUP B -->
		    <div class="col-sm-6">
		      <h3>Group B</h3>
		      <p>Define users of group B</p>

		      <div class="user_group" id='b'>

		    </div>

		      <div class="row">
		        <a href="#" class="btn btn-lg" id='add_event_b'>
          		  <span class="glyphicon glyphicon-plus-sign"></span> Add fb event to group B
        		</a>
			  </div>
			
			</div>

		  </div>

	      <div class="row" style="margin-top:20px">
		    <div class="col-sm-12">
		    	<a href="#" class="btn btn-info btn-lg" id='run'>
          		  <span class="glyphicon glyphicon-plus-sign"></span> Go get'em
        		</a>			  
		    </div>
	      </div>
	    </div>

	    <div class="container text-center" id='waiting' style="display:none">
	    	<i class="fa fa-spinner fa-spin" style="font-size:72px;color:##42f4b3"></i>
	    </div>

	    <div class="container text-center" id='error' style="display:none">
	    	<h3>Ugh!! There was an error on the server :(</h3>
	    </div>

	    <div class="container-md-5 text-center" id='results' style="display:none">
		  <div class="row">

		  	<!-- GROUP A -->
		    <div class="col-sm-4">
				<h3>Group A</h3>
				<p> Size: <span id='a_size'>NO_VALUE</span></p>
		    </div>

		    <div class="col-sm-4">
		    	<h3>A and B intersection</h3>
		    	<p> Size: <span id='a_and_b_size'>NO_VALUE</span></p>
		    </div>

		    <div class="col-sm-4">
		    	<h3>Group B</h3>
		    	<p> Size: <span id='b_size'>NO_VALUE</span></p>
		    </div>
	      </div>

	      <div class="row">
	        <div id='venn'>

	        </div>

		  </div>

		</div>

	    <div class="container text-center" id='waiting'>
	    	<div class="row">
	    		<div class="col-sm-12" style='padding:20px'>
	    			<a href='.'> Restart </a>
	    		</div>
	    	</div>
	    </div>


	<hr>
	<footer class='text-center'>
		<a href='https://github.com/Leobouloc/fb_events_analyzer'> See the project on Github </a> | donate: XYZ
	</footer>

    </body>
</html>




